Exercise Level 1

In [6]:
lst = []

In [7]:
fruit = ['mango', 'apple', 'banana', 'pawpaw', 'pear']

In [8]:
print(len(fruit))

5

In [10]:
print(fruit[0])
print(fruit[2])
print(fruit[4])

mango
banana
pear

In [11]:
mixed_data_types = ['Sheriff', 25, 1.9, 'Single', 'Kano']

In [13]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [14]:
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
print(len(companies))

7

In [16]:
print(companies[0])
print(companies[3])
print(companies[6])

Facebook
Apple
Amazon

In [17]:
companies[0] = 'Alibaba'
print(companies)

['Alibaba', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [28]:
companies = ['Alibaba', 'Google', 'Microsoft',
             'Apple', 'IBM', 'Oracle', 'Amazon']
companies.append('Intel')
print(companies)

['Alibaba', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Intel']

In [31]:
companies = ['Alibaba', 'Google', 'Microsoft',
             'Apple', 'IBM', 'Oracle', 'Amazon', 'intel']
companies.insert(4, 'Cisco')
print(companies)

['Alibaba', 'Google', 'Microsoft', 'Apple', 'Cisco', 'IBM', 'Oracle', 'Amazon', 'intel']

In [32]:
print(companies[0].upper())

ALIBABA

In [33]:
#No 14
print("#".join(companies))

Alibaba#Google#Microsoft#Apple#Cisco#IBM#Oracle#Amazon#intel

In [34]:
#No_15
print('Baidu' in companies)

False

In [40]:
#No_16
companies = ['Alibaba', 'Google', 'Microsoft', 'Apple',
             'Cisco', 'IBM', 'Oracle', 'Amazon', 'intel']
companies.sort()
print(companies)

['Alibaba', 'Amazon', 'Apple', 'Cisco', 'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']

In [43]:
#No_17
companies.reverse()
print(companies)

['intel', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Cisco', 'Apple', 'Amazon', 'Alibaba']

In [44]:
#No_18
companies = ['Alibaba', 'Amazon', 'Apple', 'Cisco', 'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']
print(companies[3:])

['Cisco', 'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']

In [45]:
#No_19
print(companies[:6])

['Alibaba', 'Amazon', 'Apple', 'Cisco', 'Google', 'IBM']

In [46]:
#No_20
companies = ['Alibaba', 'Amazon', 'Apple', 'Cisco',
             'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']

In [50]:
#No_21
del companies[0]
print(companies)

['Apple', 'Cisco', 'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']

In [52]:
#No_22
companies = ['Alibaba', 'Amazon', 'Apple', 'Cisco',
             'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']

del companies[4]
print(companies)

['Alibaba', 'Amazon', 'Apple', 'Cisco', 'IBM', 'Microsoft', 'Oracle', 'intel']

In [53]:
#No_23
companies = ['Alibaba', 'Amazon', 'Apple', 'Cisco',
             'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']
del companies[len(companies) - 1]
print(companies)

['Alibaba', 'Amazon', 'Apple', 'Cisco', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [54]:
#NO_24
companies.clear()
print(companies)

[]

In [ ]:
#No_25
companies = ['Alibaba', 'Amazon', 'Apple', 'Cisco',
             'Google', 'IBM', 'Microsoft', 'Oracle', 'intel']

In [56]:
#No_26
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
lst = front_end + back_end
print(lst)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [59]:
#No_27
full_stack = lst.copy()
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

Exercises: Level 2

In [88]:
# Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages = sorted(ages)
min = sorted_ages[0]
max = sorted_ages[len(sorted_ages) - 1]
print(sorted_ages)
print(min)
print(max)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [66]:
# Add the min age and the max age again to the list
sorted_ages.append(min)
sorted_ages.append(max)
print(sorted_ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26, 19, 26]

In [89]:
# Find the median age (one middle item or two middle items divided by two)
mid = len(sorted_ages) / 2
mid = int(mid)
print(sorted_ages[mid])

24

In [90]:
# Find the average age (sum of all items divided by their number )
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
i = 0
for i in ages:
        sum += i
print(sum)

480

In [95]:
# Find the range of the ages (max minus min)
ranges = max - min
print(ranges)

7

In [101]:
# Find the middle country(ies) in the countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
middle_index = len(countries) // 2
if len(countries) % 2 == 0:
  middle_countries = countries[middle_index - 1:middle_index + 1]
else:
  middle_countries = [countries[middle_index]]
print("Middle country or countries:", middle_countries)

Middle country or countries: ['Lebanon', 'Lesotho']

In [103]:
middle_index = len(countries) // 2
if len(countries) % 2 == 0:
  first_half = countries[:middle_index]
  second_half = countries[middle_index:]
else:
  first_half = countries[:middle_index + 1]
  second_half = countries[middle_index + 1:]
print("First half:", first_half)
print("Second half:", second_half)

First half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
Second half: ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia']

In [106]:
lst = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
First_country, Second_country, Third_country, *rest = lst
print(First_country)
print(Second_country)
print(Third_country)
print(rest)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']