#  Exercises: Day 13

In [22]:
# Filter only negative and zero in the list using list comprehension
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
filtered_numbers = [i for i in numbers if i <= 0]
print(filtered_numbers)

[-4, -3, -2, -1, 0]

In [26]:
# Flatten the following list of lists of lists to a one dimensional list :

list_of_lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flattened_list = [numbers for row in list_of_lists for numbers in row for numbers in numbers]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# Using list comprehension create the following list of tuples:
result_list = [(i, 1, i, i**2, i**3, i**4, i**5) for i in range(11)]

print(result_list)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

In [38]:
# Flatten the following list to a new list:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
flattened_list = [city for  j in countries for city in j]

print([list(flattened_list) for j in flattened_list])

[[('Finland', 'Helsinki'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo')], [('Finland', 'Helsinki'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo')], [('Finland', 'Helsinki'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo')]]

In [55]:
# Change the following list to a list of dictionaries:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
list_of_dict = [dict(x) for y in countries for x in y]


print(list_of_dict)

ValueError: dictionary update sequence element #0 has length 7; 2 is required

In [59]:
# Change the following list of lists to a list of concatenated strings:

names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
concat_string = [' '.join(tuple_string) for name in names for tuple_string in name]

print(concat_string)

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [60]:
# Write a lambda function which can solve a slope or y-intercept of linear functions
y_intercept = lambda x1,x2,y1, y2: y2 - y1 / x2 - x1
print(y_intercept(3,4,5,6))

1.75